data/raw/images/**.jpg
venv/
data/processed/baseline/test/**.jpg
data/processed/baseline/train/benign/**.jpg
data/processed/baseline/train/malignant/**.jpg
data/processed/baseline/val/**.jpg

data/processed/augmented/test/**.jpg
data/processed/augmented/train/benign/**.jpg
data/processed/augmented/train/malignant/**.jpg
data/processed/augmented/val/**.jpg

data/processed/augmented/test/**.png
data/processed/augmented/train/benign/**.png
data/processed/augmented/train/malignant/**.png
data/processed/augmented/val/**.png

generation/

__pycache__/
*.pyc
*.pth